@import url('https://fonts.googleapis.com/css2?family=Fraunce:100,200,300,400,500,600,700');


body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Fraunce', sans-serif;
    color:#f5727b;
}

h2{
    font-family: 'Fraunce';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f5727b;
}

#logo{
    float: left;
    font-size: 280%;
}
.navbar{
    font-family: 'Galada';
    font-weight: 400;
    text-align: right;
    background: #bdcebe;
}

 
  #videobg {
  width: 100%;
  height: 100vh;
  top:7%;
  left:0%;
  right:0%;
  bottom:7%;
position: fixed;
  object-fit: fill;
  overflow: hidden;
  z-index: -1;

 
}
/*
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
*/ 
@media (max-width:1080px) {
    #videobg {
        display:none;
    }
@media (min-width:767px) {
    #videobg {
        display:none;
    }

    body {
        background: url('../images/homepage-video.mp4');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        
        
        
    }
    
}


    


    

    @media (max-width: 768px) {
    #bgimage {
        display:block;
    }
    
    @media (max-width:1024px) {
    #bgimage {
        display:none;
    }

    }
    
    body {
        background: url('../images/daisy-bg-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}



}

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f5727b;
        color: white;
        text-align: center;
    }
