@import url('https://fonts.googleapis.com/css2?family=Galada:100,200,300,400,500,600,700');

body{
    overflow-x: hidden;
    font-family: 'Galada', sans-serif;
    color:#eca1a6;
}


.navbar{
    font-family: 'Galada';
    font-weight: 400;
    text-align: right;
    background: #bdcebe;
}

  
  #videobg {
  max-width: 100%;
  height: auto;
  position:fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videobg {
        display: none;
    }

    body {
        background: url('../images/bg-imagedaisy.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

    @media (max-width: 767px) {
    #bgimage {
        display:block;
    }
    body {
        background: url('../images/bg-imagedaisy.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}



