@import url('https://fonts.googleapis.com/css2?family=Caveat:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body{
    overflow-x: hidden;
    font-family: "Caveat", sans-serif;
    color:#eca1a6;
}


.navbar{
    text-align: right;
    background: #bdcebe;
}